################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QRService/bin/Debug/netcoreapp3.1
/QRService/obj
